@import "tailwindcss";

body {
  font-family: Helvetica, Arial, sans-serif;
}

.Courier{
  font-family: 'Courier New', Courier, monospace;
}
.Franklin{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Gill{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
